@import '../../vars';

.list {
	width: 282px;
	height: 100%;
	background: #EBECF0;
	padding: 20px;
	border-radius: 8px;
	margin: 15px;
	box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
}
.listTitle {
	margin-top: 0;
}
.task {
	background: #fff;
	color: #000;
	margin: 7px 0;
	padding: 8px;
	border-radius: 8px;
	&:hover {
		color: $deep-blue;
	}
}
.taskLink {
	text-decoration: none;
}
.addButton {
	background: none;
	border: none;
	appearance: none;
	font-size: 15px;
	margin-top: 15px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1.16;
	color: #5E6C84;
	border-radius: 5px;
	padding: 6px;
	&:hover {
		background: #fff;
	}
	svg {
		margin-right: 4px;
	}
}
.addButtonDisabled {
	background: none;
	border: none;
	appearance: none;
	font-size: 15px;
	margin-top: 15px;
	font-size: 18px;
	line-height: 1.16;
	color: #909bae;
	border-radius: 5px;
	padding: 6px;
	svg {
		margin-right: 4px;
	}
}

